/* to select IDs, . to select classes */
body{
    font-family: roboto
    background-color: black;
    color:burlywood
}
a {color: burlywood

}
header {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
}
header div nav ul li {
    align-items: flex;
    justify-content: space-between;
    gap: 8px;
    list-style: none;
    flex-direction: row;
    display: inline;



}